# Dossier de configuration
.env
/venv
/OLD

# Fichiers compilés Python
__pycache__/
*.py[cod]
*.pyo

# Visual Studio Code # 
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json
