# Dossier de configuration
.env
/venv
/OLD
.env.*
entrypoint.sh

# Fichiers compilés Python
__pycache__/
*.py[cod]
*.pyo

# Docker
Dockerfile

# Visual Studio Code 
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json
